*{box-sizing: border-box;}

body{
	background: white;
	font-family: 'Roboto', sans-serif;
}
.logo{
	background: url(../img/logo.svg) no-repeat;
	position: fixed;
	top: 10px;
	left: 20px;
	width: 50px;
	height: 55px;

}

.logo:hover{
	background: url(../img/logo_bg.svg)no-repeat;
	position: fixed;
	/*top:20px;*/
	left: 20px;
	width: 180px;
	height: 50px;
	-webkit-transform: scale(1.1);
 	-moz-transform: scale(1.1);
 	-o-transform: scale(1.1);
 	transition: 0.8s;
 	top: 5px;	
}
.header-big-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-big-logo img{
	width: 400px;
}
@media screen and (max-width: 640px) {

.header-big-logo img {
	width: 100px;
}
}

.header-text{
	padding-right: 60px
}
.header{
	display: flex;
	justify-content: center;
	align-items: center;
}
.main-images{
	display: flex;
	justify-content: center;
	/*align-items: center;*/
	padding: 100px 0 100px 0;

}
.images{
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

}
.big-image{
	flex: 1 0 50%;
    width: 50%;
    height: auto;
    padding: 5px;
}
@media screen and (max-width: 640px) {

.big-image{
        width: 100%;
}
}
.small-image{
	height: auto;
    padding: 10px;
	flex: 1 0 33%;
    width: 33%;

}
.button-area{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.button{
	background: #40d3ad;
	border-radius: 30px;
	width: 150px;
	height: 50px;
	color: white;
}
.slider{
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	font-weight: 600;
	padding-top: 100px;
}
.slider p:before  {
    content: "@";
    color: red;
}
.slider-images{
	display: flex;
	justify-content: center;
	flex-direction: row;
	overflow:  hidden;
}
.slider-images img{
	padding: 0 5px 0 5px;
}
.right-text-footer a{
	color: #c536a5;
	text-decoration: none;
}
.right-text-footer a:hover{
	color: #4661b8;
	text-decoration:underline;
}
.right-text-footer{
}
.wraper{
	display: flex;
	justify-content: space-between;
	padding: 50px ;
}
.hide-image{
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
	
}
@media screen and (device-width: 640px) {

.hide-image{
	display: none;
	
}
}
